{% extends "feedback/base.html" %}

{% block title %}
Survey

{% endblock %}

{% block body %}

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-8 col-lg-12 col-md-7">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="text-center border-bottom" style="padding-top:40px;">
                    <h1 class="h4 text-gray-900 mb-4">Thank you</h1>
                    <p>Thank you for completing the survey!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
